.page__body[data-page='not-found'] {
  padding-top: 0;

  main {
    margin-bottom: 0;
  }
}

.page-404 {
  background-color: #252525;
  height: 100%;
  font-weight: 300;
  color: var(--white);
  text-align: center;
  overflow: auto;
  position: relative;

  p {
    @include adaptiveValue(font-size, 166, 50, 1920, 360, 1);
    text-transform: uppercase;
  }

  a {
    justify-self: center;
    font-weight: 900;
  }

  &__inner {
    height: 100%;
    place-content: center;
    @include adaptiveValue(row-gap, 60, 30, 1920, 360, 1);
    grid-template-columns: 1fr;
  }

  &__info {
    row-gap: rem(12);
  }

  &__title {
    @include adaptiveValue(font-size, 35, 24, 1920, 360, 1);
    font-weight: 300;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    // width: 311px;
    // height: 311px;
    @include adaptiveValue(width, 311, 150, 1920, 360, 1);
    @include adaptiveValue(height, 311, 150, 1920, 360, 1);
    background: rgba(217, 217, 217, 0.12);
    filter: blur(85px);

    @include _1200 {
      filter: blur(60px);
    }
  }

  &::before {
    right: 18%;
    top: 60%;
  }

  &::after {
    left: 15%;
    top: 15%;
  }
}
