.partners {
  @include adaptiveValue(padding-top, 100, 40, 1920, 360, 1);
  &__inner {
    padding-left: max(calc((100% - 1400px) / 2), rem(20));
    @include _576 {
      padding-right: rem(20);
    }
  }

  &__title {
    @include adaptiveValue(font-size, 35, 24, 1920, 360, 1);
    @include adaptiveValue(margin-bottom, 20, 10, 1920, 360, 1);
  }

  &__slider .swiper-wrapper {
    align-items: center;
  }
}
