<!-- contact-preview section -->
<section class="contact-preview" data-aos="fade-up">
 <div class="container">
  <div class="contact-preview__inner">
   <div class="contact-preview__img ibg">
    <img loading="lazy" src="img/content/framed-silver-doors.jpg" class="image" width="640" height="570" alt="">
   </div>
   <div class="contact-preview__info">
    <h2 class="contact-preview__title">
     Need a free
     <span>consultation?</span>
    </h2>
    <a href="#" class="arrow-link contact-preview__link white-arrow-link">Yes
    </a
        >
   </div>
  </div>
 </div>
</section>
<!-- contact-preview section -->
