<footer class="footer">
 <div class="container">
  <div class="footer__inner grid grid-12">
   <a href="/" class="footer__logo">
    <img loading="lazy" src="img/logos/logo-light.svg" class="image" width="260" height="37" alt="Robeoutlet">
   </a>
   <div class="footer__newsletter">
    <h3 class="footer__newsletter-title">Stay in the know</h3>
    <form action="#" class="footer__form">
     <input type="email" class="input-reset footer__form-input" placeholder="email adress">
     <button class="footer__form-btn" type="submit">
      <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
       <path d="M15.3536 4.35355C15.5488 4.15829 15.5488 3.84171 15.3536 3.64645L12.1716 0.464467C11.9763 0.269205 11.6597 0.269205 11.4645 0.464467C11.2692 0.659729 11.2692 0.976312 11.4645 1.17157L14.2929 4L11.4645 6.82843C11.2692 7.02369 11.2692 7.34027 11.4645 7.53553C11.6597 7.7308 11.9763 7.7308 12.1716 7.53553L15.3536 4.35355ZM-4.37114e-08 4.5L15 4.5L15 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#8B8989"/>
      </svg>
     </button>
    </form>
   </div>
   <div class="footer-list footer-list-contact">
    <h3 class="footer__lists-title footer__title">contact</h3>
    <ul class="footer__list">
     <li class="footer__list-item">
      <a href="#" class="footer__list-link" target="_blank"> name@mail</a>
     </li>
     <li class="footer__list-item">
      <a href="#" class="footer__list-link" target="_blank"> City, country</a>
     </li>
     <li class="footer__list-item">
      <a href="#" class="footer__list-link" target="_blank"> Instagram</a>
     </li>
     <li class="footer__list-item">
      <a href="#" class="footer__list-link" target="_blank"> Facebook</a>
     </li>
    </ul>
   </div>
   <div class="footer-list footer-list-info">
    <ul class="footer__list">
     <li class="footer__list-item">
      <a href="about.html" class="footer__list-link" target="_blank"> About us</a>
     </li>
     <li class="footer__list-item">
      <a href="#" class="footer__list-link" target="_blank"> Privacy policy</a>
     </li>
     <li class="footer__list-item">
      <a href="#" class="footer__list-link" target="_blank"> Terms and Conditions</a>
     </li>
     <li class="footer__list-item">
      <a href="payment.html" class="footer__list-link" target="_blank"> Payment and delivery</a>
     </li>
     <li class="footer__list-item">
      <a href="#" class="footer__list-link" target="_blank"> Return&warranty</a>
     </li>
    </ul>
   </div>
   <div class="footer__payment">
    <div class="footer__payment-inner grid-flow">
     <h3 class="footer__payment-title footer__title">Payment options</h3>
     <img loading="lazy" src="img/logos/payments-list.png" width="167" height="30" alt="Payments options">
     <img src="img/logos/paypal.svg" width="110" height="30" alt="Paypal">
    </div>
   </div>
  </div>
  <div class="footer__credits">
   <p>@2023, Robeoutlet</p>
  </div>
 </div>
</footer>
