<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <meta name="theme-color" content="#111111">
 <title>Marshall</title>
 <link rel="preload" fetchpriority="high" as="image" href="img/content/hero.webp" type="image/webp">

 <link rel="stylesheet" href="css/vendor.css">
 <link rel="stylesheet" href="css/main.css">
 <script src="https://cdn.jsdelivr.net/npm/vue"></script>
 <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
 <script src="https://unpkg.com/vuedraggable@4.0.1/dist/vuedraggable.umd.min.js"></script>


 <script defer src="js/main.js"></script>
</head>

