<!DOCTYPE html>
<html lang="en" class="page">
 @include('partials/head.html')
 <body class="page__body">
  <div class="site-container">
   @include('partials/header.html')
   <main class="main">
    <div class="single-head">
     <div class="container">
      <h1 class="single__title uppercase-bold title-with-margin section-title title-margin-bottom">
       Framed Sliding Doors
      </h1>

     </div>
    </div>
    <!-- photos section -->
    <section class="photos">
     <div class="container">
      <div class="photos__inner">
       <div class="photos__info grid-flow">
        <div class="photos__info-head">
         <h2 class="photos__title section-title">
          Inspiration photos
         </h2>
        </div>
        <div class="photos__info-body grid-flow">
         <button class="photos__btn tabs-btn" data-tabs-path="framed-vinyl" data-content="Fully framed Vinyl">
          Fully framed Vinyl
         </button>
         <button class="photos__btn tabs-btn" data-tabs-path="framed-white-glass" data-content="Fully framed super white glass">
          Fully framed super white glass
         </button>
         <button class="photos__btn tabs-btn" data-tabs-path="framed-politech" data-content="Fully framed politech">
          Fully framed politech
         </button>
         <button class="photos__btn tabs-btn" data-tabs-path="framed-mirror" data-content="Fully framed mirror">
          Fully framed mirror
         </button>
         <button class="photos__btn tabs-btn" data-tabs-path="framed-grey-vinyl" data-content="Fully framed grey mirror">
          Fully framed grey mirror
         </button>
         <button class="photos__btn tabs-btn" data-tabs-path="framed-black-glass" data-content="Fully framed black glass">
          Fully framed black glass
         </button>
         <button class="photos__btn tabs-btn" data-tabs-path="frameless-white-glass" data-content="Frameless super white glass">
          Frameless super white glass
         </button>
         <button class="photos__btn tabs-btn" data-tabs-path="frameless-mirror" data-content="Frameless grey mirror">
          Frameless mirror
         </button>
         <button class="photos__btn tabs-btn" data-content="Frameless grey mirror" data-tabs-path="frameless-grey-mirror">
          Frameless grey mirror
         </button>
        </div>
       </div>
       <div class="photos__content">
        <div class="tabs-content tabs-content-active" data-tabs-target="framed-vinyl">
         <div href="#" class="ibg photos__img">
          <img loading="lazy" src="img/content/fully-framed-vinyl.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
         </div>
        </div>
        <div class="tabs-content" data-tabs-target="framed-white-glass">
         <div href="#" class="ibg photos__img">
          <img loading="lazy" src="img/content/framed-silver-doors.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
         </div>
        </div>
        <div class="tabs-content" data-tabs-target="framed-politech">
         <div href="#" class="ibg photos__img">
          <img loading="lazy" src="img/content/framed-silver-doors.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
         </div>
        </div>
        <div class="tabs-content" data-tabs-target="framed-mirror">
         <div href="#" class="ibg photos__img">
          <img loading="lazy" src="img/content/framed-silver-doors.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
         </div>
        </div>
        <div class="tabs-content" data-tabs-target="framed-grey-mirror">
         <div href="#" class="ibg photos__img">
          <img loading="lazy" src="img/content/framed-silver-doors.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
         </div>
        </div>
        <div class="tabs-content" data-tabs-target="framed-black-glass">
         <div href="#" class="ibg photos__img">
          <img loading="lazy" src="img/content/framed-silver-doors.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
         </div>
        </div>
        <div class="tabs-content" data-tabs-target="frameless-white-glass">
         <div href="#" class="ibg photos__img">
          <img loading="lazy" src="img/content/framed-silver-doors.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
         </div>
        </div>
        <div class="tabs-content" data-tabs-target="frameless-mirror">
         <div href="#" class="ibg photos__img">
          <img loading="lazy" src="img/content/framed-silver-doors.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
         </div>
        </div>
        <div class="tabs-content" data-tabs-target="frameless-grey-mirror">
         <div href="#" class="ibg photos__img">
          <img loading="lazy" src="img/content/framed-silver-doors.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
         </div>
        </div>
       </div>
       <div class="photos__accordion">
        <div class="photos__accordion-item grid-flow accordion-item">
         <div class="photos__accordion-head">
          <button class="photos__btn" data-content="Fully framed Vinyl">
           Fully framed Vinyl
          </button>
         </div>
         <div class="photos__accordion-body accordion-item__body">
          <div class="photos__accordion-content">
           <a href="#" class="ibg photos__img">
            <img loading="lazy" src="img/content/fully-framed-vinyl.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
           </a>
          </div>
         </div>
        </div>
        <div class="photos__accordion-item grid-flow accordion-item">
         <div class="photos__accordion-head">
          <button class="photos__btn" data-content="Fully framed politech">
           Fully framed politech
          </button>
         </div>
         <div class="photos__accordion-body accordion-item__body">
          <div class="photos__accordion-content">
           <a href="#" class="ibg photos__img">
            <img loading="lazy" src="img/content/fully-framed-vinyl.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
           </a>
          </div>
         </div>
        </div>
        <div class="photos__accordion-item grid-flow accordion-item">
         <div class="photos__accordion-head">
          <button class="photos__btn" data-content="Fully framed mirror">
           Fully framed mirror
          </button>
         </div>
         <div class="photos__accordion-body accordion-item__body">
          <div class="photos__accordion-content">
           <a href="#" class="ibg photos__img">
            <img loading="lazy" src="img/content/fully-framed-vinyl.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
           </a>
          </div>
         </div>
        </div>
        <div class="photos__accordion-item grid-flow accordion-item">
         <div class="photos__accordion-head">
          <button class="photos__btn" data-content="Fully framed grey mirror">
           Fully framed grey mirror
          </button>
         </div>
         <div class="photos__accordion-body accordion-item__body">
          <div class="photos__accordion-content">
           <a href="#" class="ibg photos__img">
            <img loading="lazy" src="img/content/fully-framed-vinyl.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
           </a>
          </div>
         </div>
        </div>
        <div class="photos__accordion-item grid-flow accordion-item">
         <div class="photos__accordion-head">
          <button class="photos__btn" data-content="Fully framed black glass">
           Fully framed black glass
          </button>
         </div>
         <div class="photos__accordion-body accordion-item__body">
          <div class="photos__accordion-content">
           <a href="#" class="ibg photos__img">
            <img loading="lazy" src="img/content/fully-framed-vinyl.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
           </a>
          </div>
         </div>
        </div>
        <div class="photos__accordion-item grid-flow accordion-item">
         <div class="photos__accordion-head">
          <button class="photos__btn" data-content="Frameless super white glass">
           Frameless super white glass
          </button>
         </div>
         <div class="photos__accordion-body accordion-item__body">
          <div class="photos__accordion-content">
           <a href="#" class="ibg photos__img">
            <img loading="lazy" src="img/content/fully-framed-vinyl.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
           </a>
          </div>
         </div>
        </div>
        <div class="photos__accordion-item grid-flow accordion-item">
         <div class="photos__accordion-head">
          <button class="photos__btn" data-content="Frameless grey mirror">
           Frameless mirror
          </button>
         </div>
         <div class="photos__accordion-body accordion-item__body">
          <div class="photos__accordion-content">
           <a href="#" class="ibg photos__img">
            <img loading="lazy" src="img/content/fully-framed-vinyl.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
           </a>
          </div>
         </div>
        </div>
        <div class="photos__accordion-item grid-flow accordion-item">
         <div class="photos__accordion-head">
          <button class="photos__btn" data-content="Frameless grey mirror">
           Frameless grey mirror
          </button>
         </div>
         <div class="photos__accordion-body accordion-item__body">
          <div class="photos__accordion-content">
           <a href="#" class="ibg photos__img">
            <img loading="lazy" src="img/content/fully-framed-vinyl.jpg" class="image" width="940" height="600" alt="Framed Silver Doors With Mirror Doors">
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <section class="process" data-stepper-type="quiz" data-quiz-type="frameless-doors">
      <div class="container">
        <h2 class="process__title title-with-margin uppercase-bold section-title  ">
         Start ordering Frameless Sliding Doors
        </h2>
        <div class="process__inner grid">
         <div class="process__steps process__steps-desktop">
           <step-btn v-for="(step, index) in stepBtns" @click="selectStep(index + 1)" :key="index" :index="index + 1" />
         </div>
         <custom-select @click="selectStep" :options="stepBtns"></custom-select>
         <step v-for="(step, index) in steps" v-show="index + 1 === currentStep"
             :title="step.title"
             :items="step.items"
             :items-type="step.itemsType"
             :show-selected="step.showSelected"
             :index="index"
             :selected="selectedArr"
             :img-path="imgPath"
             :key="step.title"
           ></step>
        </div>
       </div>
    </section>

    <section class="process" data-stepper-type="quiz" data-quiz-type="framed-sliding-doors">
      <div class="container">
       <h2 class="process__title title-with-margin uppercase-bold section-title  ">
        Start ordering Framed Sliding Doors
       </h2>
       <div class="process__inner grid">
        <div class="process__steps process__steps-desktop">
          <step-btn v-for="(step, index) in stepBtns" @click="selectStep(index + 1)" :key="index" :index="index + 1" />
        </div>
        <!-- select component -->

        <custom-select @click="selectStep" :options="stepBtns"></custom-select>

        <!-- select component -->

        <!-- step component -->

        <step v-for="(step, index) in steps" v-show="index + 1 === currentStep"
            :title="step.title"
            :items="step.items"
            :items-type="step.itemsType"
            :show-selected="step.showSelected"
            :index="index"
            :selected="selectedArr"
            :img-path="imgPath"
          ></step>

        <!-- step component -->

       </div>
      </div>
     </section>


    <section class="process" data-stepper-type="constructor" data-constructor-type="wardrobe-inserts">
     <div class="container">
      <div class="process__inner grid">
       <h2 class="process__title title-with-margin uppercase-bold section-title  ">
        Start ordering Wardrobe inserts DIY
       </h2>
       <p class="text text-300">
        Our white melamine robe system hangs on the top rail and supports itself against the back wall, which is extremely easy and quick to install and makes the setup rigid and stable
       </p>
       <div class="process__steps process__steps-desktop">
        <step-btn v-for="(step, index) in stepBtns" @click="selectStep(index + 1)" :key="index" :index="index + 1" />
       </div>

       <custom-select @click="selectStep" :options="stepBtns"></custom-select>


       <!-- step component for constructor page  -->

       <constructor-step v-for="(step, index) in steps"
       v-show="currentStep === index + 1"
       :type="step.type"
       :img="step.img"
       :checkboxes="step.checkboxes"
       :hanging-rail="step.hangingRail"
       :notice="step.notice"
       :title="step.title"
       :label="step.label"
       :units="step.items"
       ></constructor-step>



       <!-- step component for constructor page  -->

      </div>
     </div>
    </section>
    <!-- list-section component -->
    <section class="features list-section ">
     <div class="list-section__wrapper features__wrapper white-block">
      <div class="container">
       <h2 class="list-section__title section-title">Main features</h2>
       <ul class="list-section__inner features__inner">
        <li class="features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/5.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Powder coated durable aluminium frames and tracks
         </h3>
        </li>
        <li class="features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/card.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Toughened safety glass
         </h3>
        </li>
        <li class="features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/clock.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Premium safety mirror with vinyl back
         </h3>
        </li>
        <li class="features__item-title features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/price.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Reliable long lasting wheels
         </h3>
        </li>
        <li class="features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/gear.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Modern noise-free & soft sliding mechanism
         </h3>
        </li>
        <li class="features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/map.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Light-weight rust-free materials
         </h3>
        </li>
        <li class="features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/delivery.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Easy to fit, factory pre-assembled KIT
         </h3>
        </li>
        <li class="features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/call.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Made in Australia
         </h3>
        </li>
        <li class="features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/chat.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Quick production,
7-15 working days
         </h3>
        </li>
        <li class="features__item list-section__item grid-flow">
         <img loading="lazy" src="img/svg/chat.svg" class="list-section__img features__img" width="70" height="70" alt="Warranty">
         <h3 class="features__item-title list-section__item-title">
          Years warranty
         </h3>
        </li>
       </ul>
      </div>
     </div>
    </section>
    <!-- list-section component -->
    @include('partials/contact-preview.html')
   </main>
   @include('partials/footer.html')
  </div>
 </body>
</html>
