:root {
  --primary: #303030;
  --black: #000;
  --white: #fff;
  --secondary: #d9d9d9;
  --lightgrey: #f2f2f2;
  --text-secondary: #ddd8d8;
  --font-family: 'Unbounded', Arial, Helvetica, sans-serif;
  --container-width: 1440px;
  --gap-primary: 1.875rem;
}
